Pokemon.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://pokemon.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pokemon.com" targetNamespace="http://pokemon.com">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://pokemon.com">
            <xs:complexType name="pokemon">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="url" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetPokemonRequest">
                <xs:complexType/>
            </xs:element>
            <xs:element name="GetPokemonResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="pokemon" type="tns:pokemon"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetPokemonRequest">
        <wsdl:part element="tns:GetPokemonRequest" name="GetPokemonRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetPokemonResponse">
        <wsdl:part element="tns:GetPokemonResponse" name="GetPokemonResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ArticlesPort">
        <wsdl:operation name="GetPokemon">
            <wsdl:input message="tns:GetPokemonRequest" name="GetPokemonRequest"> </wsdl:input>
            <wsdl:output message="tns:GetPokemonResponse" name="GetPokemonResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ArticlesPortSoap11" type="tns:ArticlesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetPokemon">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetPokemonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPokemonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ArticlesPortService">
        <wsdl:port binding="tns:ArticlesPortSoap11" name="ArticlesPortSoap11">
            <soap:address location="http://localhost:8080/soapws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>